.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Užtikrina, kad navbar būtų virš kitų elementų */
  background: #333;
  color: white;
}
.header-bg {
  width: 100%;
  height: 40px;
  background-color: #b7a37a;
}
.header-contact {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #414037b2;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 60px;
}
.header-icons {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.navbar-bg {
  background: linear-gradient(90.98deg, #ebe7dd 0.07%, #ffffff 99.93%);
  position: relative;
  min-height: 90px;
}
.logo {
  height: 156px;
  position: absolute;
  top: -33px;
  left: 50%;
  transform: translateX(-50%);
}
.nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  font-family: "Quintessential";
  color: #414037b2;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1% !important;
  text-transform: uppercase;
  text-decoration-thickness: 0%;
}
.navbar-nav .nav-link.active {
  text-decoration: underline;
}
.nav-link:hover,
.nav-link:focus {
  color: #414037b2;
  text-decoration: underline;
}
.navbar-toggler {
  border: none;
  background-color: transparent;
  padding: 0px;
}

.button-2:hover {
  background: #eccdbd;
}

.button-2:active {
  background: #f8d7c7;
}
.button-2 {
  rotate: 270deg;
  display: none;
  position: absolute;
  left: -156px;
  top: 50vh;
  width: 380px;
  height: 68px;
  background: #f8d7c7;
  border: 0.6px solid #ffffff;
  box-shadow: -4px -4px 12px rgba(255, 255, 255, 0.5), 4px 4px 12px 4px rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 75px 75px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #414037e5;
  font-family: "Open Sans";
}
.footer-bg {
  padding: 47px 0;
  background-color: #ebe7dd;
}
.footer {
}
.footer-logo {
  max-width: 140px;
}
.telefonas {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #414037e5;
  text-decoration: none;
}
.footer h4 {
  margin-bottom: 20px;
}
.footer a {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  color: #b7a37a;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration-style: solid;
}
.footer a:hover {
  text-decoration: underline;
}
.footer p {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.social-icons {
  display: flex;
  gap: 10px;
}
.location-icon {
  width: 19px;
  height: 19px;
}
.footer-copyright {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  color: #414037b2;
}
a img {
  width: 19px;
  height: 19px;
}
@media screen and (max-width: 992px) {
  .navbar-bg {
    min-height: 70px;
  }
  .header-icons {
    margin-left: 30px;
  }
  .button-1 {
    width: 186px;
    height: 50px;
  }
  .button-2 {
    left: -156px;
    top: 50vh;
    width: 240px;
    height: 36px;
    border-radius: 0px 0px 55px 55px;
    font-weight: 400;
    font-size: 14px;
  }
  .hero-section {
    background-position: calc(50% - 40px) 50%;

    margin-top: 110px;
    height: 100vh;
  }
  .hero-text {
    text-align: start;
  }
  .logo {
    height: 120px;
    position: absolute;
    left: 50%;
    padding: 0;
    top: -20px;
    transform: translateX(-50%);
  }
}
